body
  font-family var(--font-family-sans-serif), "Noto Sans TC"
  height 100%

#app
  height 100vh
  display flex
  justify-content center
  align-items center
  text-align center
  background #FF9BBA

#home h2
  font-size 80px
  color white

#home h1
  color white

#home img 
  width 60px
  margin 0 2rem
#nav
  display flex
  justify-content center
  align-items center
  background #E96D6D
  height 8%
  font-size 50px

#nav a
  color white
